
<style>

body{
    background-color: powderblue;
}

table{
    width: 100%;
    *cell-spacing: 0;
    border: 0;
    background-color: powderblue;
}


  h1{
      font-size: 50px;
      font-family: Trebuchet MS;
  }

  button{
      border: none;
      background-color: powderblue;
      font-size: 16px;
      font-family: Courier New;
  }

  button:hover{
      background-color: #3342FF;
      transition: 1.0s;
  }

  tr{
      *width:1%
  }

  td{
      text-align: center;
      *border: 1px solid black;
      border-collapse: collapse;
      width:1%
  }

  h2{
      font-size: 35px;
      font-family: Courier New;
  }

  h3{
      font-size: 28px;
      font-family: Courier New;
  }

  h4{
      font-size: 20px;
      font-family: Courier New;
  }

  p{
      font-family: Trebuchet MS;
  }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  .essay{
      text-indent: 50px;
  }

  .cited{
      text-align: center;
  }

  .bottom{
      position: absolute;
      bottom: 0px;
      text-align: center;
      width: 100%;
      background-color: powderblue;
	    
  }
  
  
      

