

* {
    font-family: 'Helvetica';
    background-color: #FFF5D3;
}

#body {
    
}
.essay{
    text-indent: 50px;
    line-height: 2;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    text-align: left;
    padding: 10px;
    font-size: 18px;
}





.content{  
    width: calc(60%);
    text-align: center;
    margin: auto;


    max-width: 1500px;
    background: red;
    overflow-x: hidden;
    overflow-y: auto;
    display:inline-block;
    position: relative;
}


.title{
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    font-size: 50px;
    padding: 8px;
}

.subtitle{
    text-align: left;
    max-width: 700px;

    font-size: 28px;
    line-height: 2;
    margin-right: auto;
    margin-left: auto;
}
    

.benHeader{
    text-align: center;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
}




