


@font-face{
    font-family: "Terminal";
    src: url("../Fonts/Terminal.ttf")
}

* {
  box-sizing: border-box;
}



.timeline {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 14px;
  background-color: rgba(78, 78, 79, 255);
  border: 4px solid white;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
}

.container {
  image-rendering: crisp-edges;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  border: 3px solid blue;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: red;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid green;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent green;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

.right::after {
  left: -16px;
}

.timelineContent {
  padding: 20px 30px;
  background-color: transparent
  position: relative;
  border-radius: 6px;
  border: 5px solid black;
  font-family: "Terminal";
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .timeline::after {
    left: 31px;
  }

  .timelineContent {
      max-width: 700px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}
