
@font-face{
    font-family: "Terminal";
    src: url(/Fonts/Terminal.ttf);
}


.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;

    max-height: 100%;

    justify-items: center;
    align-items: center;
}


#projectInfoPanel {
    border-style: solid;
    border-radius: 10px;
    height: 80%;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.projectInfoStat {
    font-family: "Terminal";
    text-align: left;
    padding: 5px;
    font-size: 20px;
}

#projectInfoContainer {
    *border-style: groove;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

#trackPane {
    *min-height: 0;
    *max-height: 50%;
}

#projectInfoTitle {
    font-family: "Terminal";
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px
}


.projectSkills {
    display: flex;
    flex-wrap: wrap;     
    align-items: center;  
    font-family: "Terminal";
    justify-content: center;
}

.projectSkills > .projectInfoStat {
  margin-right: auto;
}



.skillChip {
    margin: 3px;
  gap: 10px;
  padding: 6px 12px;
  border-radius: 999px; 
  border: 2px solid black;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  font-family: "Terminal";
}



.circuitImage {
    width: 100%;
    shape-rendering: crispEdges;
    image-rendering: pixelated;
    overflow: visible;
}

#trackName {
    padding-top: 10px;

}


